# General
UseTab: Never
IndentWidth: 2
ColumnLimit: 0
# Braces
BreakBeforeBraces: Allman
# Indent
AccessModifierOffset: -2
IndentAccessModifiers: false
# Pointer
PointerAlignment: Right
SpaceAroundPointerQualifiers: Both
# Includes
SortIncludes: Never
# Alignment
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Left
AlignOperands: AlignAfterOperator
AlignTrailingComments: true
PackConstructorInitializers: Never
# other
AllowShortBlocksOnASingleLine: Always
